<section class="login pt-56">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form flex flex-col w-full p-4 max-w-sm mx-auto justify-center border-blue-600 border rounded-lg gap-4">
        <h4 class="form-title text-center text-xl">Вход</h4>
        <input formControlName="login" type="text" placeholder="login" class="px-4 py-2 bg-gray-100 rounded-lg">
        <input formControlName="password" type="text" placeholder="password" class="px-4 py-2 bg-gray-100 rounded-lg">
        <input type="submit" value="Войти" class="px-4 py-2 bg-green-400 rounded-lg text-white">
    </form>
</section>
