<div class="app h-screen flex flex-col max-w-7xl mx-auto">
    <header class="header p-4 flex justify-between ">
        <div class="header-logo-container text-blue-600">
            <a href="">Расписание</a>
        </div>
        
    </header>
    <main class="main flex-grow p-4 flex flex-col gap-6">
        <router-outlet></router-outlet>
    </main>
    <footer class="p-4 flex justify-between bg-blue-600">
        <div class="header-logo-container text-blue-600">
            <a href="">Расписание</a>
        </div>
        
    </footer>    
</div>
