<section class="admin-teachers">
    <div class="flex justify-between">
        <a routerLink="create" class="py-2 px-4 border border-blue-600 rounded-lg"> 
            Создать
        </a>
    </div>
    <div class="">
        <table class="w-full border-spacing-y-8 border-separate">

            

            <tr *ngFor="let cabinet of cabinets" (delete)="update()" [id]="cabinet.id" [room]="cabinet.room" class="p-4 shadow-md rounded-lg" admin-cabinet>
                
            </tr>
            
        </table>
    </div>
</section>
